# You can customize outbound notifications using these three variables:
#
# * `$PLATFORM` will be replaced with "macOS" or "iOS".
#
# * `$VERSION` will be replaced with the relevant version number.
#
# * `$LINK` will be replaced with a link to the security content page
#   for the relevant macOS or iOS version number. If a link for that
#   specific version can't be found or hasn't been posted yet, `$LINK`
#   defaults to the generic Apple URL for security information:
#     https://support.apple.com/en-us/HT201222
#
# Keeping the notification text short is highly recommended, especially
# when SMS providers are enabled.
notification_text: |
  Apple has released $PLATFORM $VERSION.

  $LINK


# Discord (https://discord.com/)
discord:
  enabled: no

  # Follow the steps in the "Making a Webhook" section to enable
  # Discord integration:
  #   https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
  webhook_urls:
    - https://discord.com/api/webhooks/999999999999999999/vZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ


# Signal (https://signal.org/)
signal:
  enabled: no

  # - Signal notifications are considered experimental.
  #
  # - There isn't currently an officially supported method for sending
  #   programmatic Signal messages (e.g. from bots like this).
  #
  # - See SETUP.md for more information.
  signal_cli_executable: /usr/local/bin/signal-cli

  # Phone number that was registered and verified with `signal-cli`.
  account_phone: "+18015551234"

  recipients:
    - +18015551234
    - +18015555678


# SimpleTexting (https://simpletexting.com/)
simpletexting_sms:
  enabled: no

  account_phone: 8885551234
  api_key: 111XXXXXXXXXXXXXXXXXXXXXXXXXXXXX

  # Every iOS release notification is sent as a SimpleTexting "campaign."
  # The campaign title prefix is used to generate the campaign name that
  # will appear in the Campaigns section of the SimpleTexting admin
  # interface, e.g., `iOS Update Notification 2022-04-16`.
  #
  # The campaign title prefix won't be displayed anywhere else and it's
  # not part of the notification text that list subscribers will receive.
  campaign_title_prefix: "iOS Update Notification"

  # The unsubscribe text appears at the end of every update
  unsubscribe_text: "Reply STOP to unsubscribe."

  list_ids:
    - ios-update-subscribers
    - another-example-list


# Slack (https://slack.com/)
slack:
  enabled: no

  # Follow these steps to create a new Slack app and set up an
  # incoming webhook:
  #   https://api.slack.com/messaging/webhooks#getting_started
  webhook_urls:
    - https://hooks.slack.com/services/ZZZ/ZZZZ/ZZZZZ


# Email (SMTP protocol)
smtp:
  enabled: no

  server: smtp.example.com
  port: 465
  tls: yes

  auth_user: user@example.com
  auth_pass: SUPER_SECURE_PASSWORD

  # Unless your SMTP server validates the helo domain during
  # authentication, this can remain set to localhost.
  helo_domain: localhost

  subject: A new iOS update is available!

  from_email: Sender Name <sender.name@example.com>
  bcc_recipients:
    - recipient.one@example.com
    - recipient.two@example.com


# Telegram (https://telegram.org/)
telegram:
  enabled: no

  # Message @botfather on Telegram to set up a new bot.
  token: 5555555555:AAFYZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

  chat_ids:
    - "@softwareupdates"
    - "@secondexamplechannel"


# Twilio (https://www.twilio.com/sms)
twilio_sms:
  enabled: no

  # You can create a new project, provision a new number, and retrieve the
  # associated SID and auth token in the Twilio console.
  twilio_number: "+15558675309"
  twilio_account_sid: ACZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
  twilio_auth_token: 23111111111111111111111111111111

  recipients:
    - +18015551234
    - +18015555678
